
.navbar{
    background-color: rgb(68, 127, 175) !important;
}
.navbar-brand{
    color: rgb(252, 255, 253) !important;
    font-weight: 500;
}
.navbar-toggler{
    background-color: rgb(68, 175, 148);
    
}
.nav-item:hover {
    background-color: rgb(68, 175, 148) !important;
}