.container-padre{
    background-color: #F3F4F6;
}

.icon-star{
    font-size: 15px;
    color: #F2A03D;
}

.bg-fondo-navbar{
    background-color: #048ABF !important;
}

.icon-user{
    color: #198754;
}

.arrow-icon-color{
    color: #048ABF;
}

.arrow-icon-color2{
    color: #D49BC5;
}

.logo{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    overflow: hidden;
    object-fit: cover;
}

.scroll{
    overflow-y: auto;
}

.customScrollbar::-webkit-scrollbar {
    width: 8px;
}

.customScrollbar::-webkit-scrollbar-thumb {
    background-color: #979b9c;
    border-radius: 4px;
}

.customScrollbar::-webkit-scrollbar-track {
    background-color: #CBD5E0;
}

.height-custom{
    height: 100%;
}

/* @media (max-width: 992px) {
    .height-custom {
        height: 100vh;
    }
} */

@media (min-width: 992px) {
    .height-custom {
        height: 100vh;
    }
}